@using Blue_Chip_Site.Models;
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="backgroundArea">
    <div class="outterGrid">
        <div id="imageDiv"></div>
    </div>
    <div class="banner">Blue Chip</div>
    <div class="bannerDescription">Driven to deliver exceptional results</div>
    <div id="learnMoreLinkDiv"></div>
</div>

<div class="productGrid">

    @foreach (Product product in Model)
    {
    <div class="wholeProduct">
        <div class="heading">@product.ProductName</div>
        <div class="description">@product.ProductDescription</div>
        <div class="centerButton"><a class="btn btn-light" href="@Url.Action("Detail", "Home", new { name = product.ProductName} )" role="button">View Details</a></div>
    </div>
    }

</div>

