@using Blue_Chip_Site.Models;
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Banner/Image Area</h2>
<div class="backgroundArea">
    <div class="outterGrid"><layer id="placeholderlayer"></layer><div id="placeholderdiv"></div></div>
    <div class="innerGrid">
        <h2>Banner/Image Area</h2>

    </div>
</div>
<layer id="placeholderlayer"></layer><div id="placeholderdiv"></div>


<div class="productGrid">

    @foreach (Product product in Model)
    {
        <div class="wholeProduct">
            <div class="heading">@product.ProductName</div>
            <div class="description">@product.ProductDescription</div>
        </div>
    }

</div>

