<!--


    @using Blue_Chip_Site.Models;
@model List<Product>

-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Banner/Image Area</h2>

<div class="productGrid">
    <!--

        add back in the "at" sign before the foreach
        foreach(Product product in Model)
        {
        <div class="wholeProduct">
        add back in the "at" sign
            <div>product.ProductID</div>
        add back in the "at" sign
            <div>product.ProductName</div>
        add back in the "at" sign
            <div>product.ProductDescription</div>
        </div>
        }

        -->
    <div class="wholeProduct">
        <div class="heading">Test</div>
        <div class="description">This is a test</div>
    </div>
    <div class="wholeProduct">
        <div class="heading">Testy</div>
        <div class="description">This is the second test</div>
    </div>
</div>

<layer id="placeholderlayer"></layer><div id="placeholderdiv"></div>
                                     <img alt='image0 (9K)' src=' ~/all-the-formulas.jpg' />
